@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Museo300';
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: .5px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #E13E3E;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #E13E3E;
}

::-moz-selection {
  color: #fff;
  background-color: #E13E3E;
}

::selection {
  color: #fff;
  background-color: #E13E3E;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #fff;
}

a:hover {
  color: #E13E3E;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #2D2A2B;
}

input,
textarea,
select {
  color: #2D2A2B;
  font-family: 'Museo500';
  font-size: 14px;
  padding: 8px 30px;
  background: none;
}

input,
select {
  border: none;
  border: 1px solid #161616;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #161616;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #161616;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #161616;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #161616;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #161616;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  background: none;
  color: #161616;
  border: 1px solid #161616;
  outline: none;
}

.shd,
button:active {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
}

.shd:hover {
  -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  outline: none;
  font-size: 13px;
  font-family: 'MuseoC700';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-bottom: 5px;
  margin-left: 17px;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -8px;
  bottom: -5px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-color: #E13E3E;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-color: transparent;
}

.btn:hover::after {
  background-color: #FFEC3E;
}

.btn:hover span,
.btn:hover input[type="submit"] {
  color: #000;
}

.btn_white {
  color: #000;
}

.btn_white::before {
  border-color: #000;
}

.btn_white::after {
  background-color: #fff;
}

.btn_black::before {
  border-color: #000;
}

.btn_input {
  padding: 0;
}

.btn_input input[type="submit"] {
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-family: 'MuseoC700';
  text-transform: uppercase;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #EE414F;
  left: 0;
  top: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.list_square {
  list-style-type: none;
  padding-left: 0;
}

.list_square li {
  padding-left: 35px;
  position: relative;
}

.list_square li {
  margin-bottom: 10px;
}

.list_square li::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  background-color: #FFEC3E;
  left: 3px;
  top: 4px;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}

.popup__container .fancybox-close-small {
  top: 40px;
  right: 40px;
  color: #000;
}

.popup__container .popup__wrp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__container .popup__wrp::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: 1;
  background: #000;
  opacity: .7;
}

.popup__container .popup_call__wrp {
  max-width: 320px;
}

.popup__container .popup_call__wrp .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #2D2A2B;
  padding: 20px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp .popup__ttl {
  font-family: 'Museo900', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.popup__container .popup_call__wrp .popup .form__input {
  color: #2D2A2B;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input::placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup .btn {
  width: 100%;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup__policy {
  margin-top: 15px;
  max-width: 230px;
  text-align: center;
  font-size: 12px;
}

.popup__container .popup_call__wrp .popup__policy a {
  font-size: 12px;
  color: #E13E3E;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 40px;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 10px;
  height: 35px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #E13E3E;
  position: relative;
  -webkit-transform: scaleY(0.7) rotate(14deg);
      -ms-transform: scaleY(0.7) rotate(14deg);
          transform: scaleY(0.7) rotate(14deg);
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 13px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  -webkit-transform: scaleY(1) rotate(20deg);
      -ms-transform: scaleY(1) rotate(20deg);
          transform: scaleY(1) rotate(20deg);
  border-color: transparent;
  background-color: #fff;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  background-color: #DD1515;
  padding: 10px !important;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #000;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: .4;
  background-color: transparent;
  border-color: #000;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 10px;
}

.owl-carousel .owl-nav button.owl-next {
  right: 10px;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.section_inner {
  padding: 60px 0;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
}

.section__ttl {
  font-size: 40px;
  font-family: 'MuseoC900';
  letter-spacing: 2px;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase;
}

.section__subttl {
  font-size: 26px;
  font-family: 'MuseoC700';
  text-align: center;
  margin-top: -40px;
  margin-bottom: 40px;
}

.section__promo {
  font-size: 16px;
  font-family: 'MuseoC300';
  text-align: center;
  display: block;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 40px;
}

.input__wrp {
  position: relative;
  max-width: 230px;
}

.input__wrp input,
.input__wrp select {
  width: 100%;
  padding-left: 35px;
}

.input__wrp::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 8px;
  width: 12px;
  height: 17px;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}

.input__wrp_name:before {
  background-image: url(../img/icon__form-name.png);
}

.input__wrp_mail:before {
  background-image: url(../img/icon__form-mes.png);
  top: 8px;
}

.input__wrp_tel:before {
  background-image: url(../img/icon__form-tel.png);
  top: 8px;
}

.input__wrp:not(:last-child) {
  margin-bottom: 15px;
}

.header {
  position: relative;
  z-index: 2;
}

.header__top {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}

.header__top-item_tel:nth-child(2) {
  position: relative;
  margin-left: 30px;
}

.header__top-item_tel:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: -15px;
  background-color: #fff;
}

.header__bot {
  height: 80px;
  padding: 15px 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  font-family: 'Museo500';
  text-transform: uppercase;
}

.header__nav-link:hover {
  color: #FFEC3E;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -60px;
}

.header__logo:hover img {
  -webkit-transform: scale(0.94);
      -ms-transform: scale(0.94);
          transform: scale(0.94);
}

.header .btn {
  margin-left: auto;
}

.header_inner .header__bot {
  background-image: url(../img/banner__bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.header_inner .header__bot::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .4;
}

.header_inner .header__bot .container {
  position: relative;
}

.banner {
  overflow: hidden;
  margin-top: -90px;
  position: relative;
}

.banner__slider-item {
  color: #fff;
  padding: 230px 0 200px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.banner__slider-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .4;
}

.banner__slider-item .container {
  position: relative;
}

.banner__slider .owl-nav button.owl-prev {
  left: 50%;
  margin-left: -webkit-calc(-1140px/2);
  margin-left: calc(-1140px/2);
}

.banner__slider .owl-nav button.owl-next {
  right: 50%;
  margin-right: -webkit-calc(-1140px/2);
  margin-right: calc(-1140px/2);
}

.banner .offer__ttl {
  font-family: 'MuseoC700';
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.banner .offer__subttl {
  font-family: 'MuseoC500';
  font-size: 28px;
  margin-bottom: 25px;
}

.test::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .7;
}

.test .container {
  position: relative;
}

.test__item {
  max-width: 370px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #E13E3E;
  color: #fff;
  padding: 20px 20px 0px;
}

.test__item-ttl {
  font-size: 18px;
  font-family: 'MuseoC700';
  text-transform: uppercase;
  margin-bottom: 15px;
}

.test__item-img {
  width: 90px;
  height: 65px;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.test__item-descr {
  font-size: 16px;
  margin-bottom: 30px;
  height: 40px;
}

.test__item .btn {
  margin: 0 auto -20px;
}

.brands {
  background-color: #121212;
  padding-bottom: 90px;
}

.brands__slider {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.brands__slider .owl-nav button.owl-prev {
  left: -70px;
}

.brands__slider .owl-nav button.owl-next {
  right: -70px;
}

.brands__slider .owl-dots {
  bottom: -50px;
}

.brands__slider-item {
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  border: 1px solid #fff;
  padding: 30px 0;
  max-width: 200px;
  margin-left: 21px;
  margin-right: 21px;
}

.brands__slider-item:hover {
  border-color: #FFEC3E;
}

.brands__slider-item span {
  display: block;
  width: 100%;
  height: 50px;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}

.serv__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.serv__item:hover .serv__top {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.serv__item:hover .serv__top::before {
  background-color: #E13E3E;
}

.serv__item:hover .serv__price {
  -webkit-transform: translateY(-5px) skew(-20deg);
      -ms-transform: translateY(-5px) skew(-20deg);
          transform: translateY(-5px) skew(-20deg);
}

.serv__top {
  width: 100%;
  height: 220px;
  padding: 15px 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.serv__top::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #161616;
  opacity: .7;
}

.serv__top span {
  font-size: 20px;
  font-family: 'MuseoC700';
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.serv__price {
  background-color: #000;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  padding: 10px 15px;
  margin: -15px auto 0;
}

.serv__price span {
  font-size: 18px;
  font-family: 'MuseoC700';
  color: #fff;
  display: block;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}

.price {
  background-color: #0C0C0C;
  color: #fff;
}

.price__item {
  -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
}

.price__item .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 10px;
  min-height: 60px;
  margin-left: 0;
  margin-right: 0;
}

.price__item .row:nth-child(odd) {
  background-color: #000;
}

.price__item .row:nth-child(even) {
  background-color: #101010;
}

.price__item .row:hover {
  background-color: #FFEC3E;
}

.price__item .row:hover > * {
  color: #000;
}

.price__item .col-5 {
  text-align: right;
}

.stages {
  color: #fff;
}

.stages::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0C0C0C;
  opacity: .8;
}

.stages .container {
  position: relative;
}

.stages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.stages__item-top {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 15px 0;
}

.stages__item-top::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  left: 30px;
  top: 0;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: #E13E3E;
}

.stages__item-top::after {
  content: '';
  position: absolute;
  width: 64%;
  height: 100%;
  left: 33px;
  top: 0;
  background-color: #000;
  opacity: .4;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.stages__item-num {
  font-family: 'Museo900';
  font-size: 78px;
  line-height: 0.7;
  position: relative;
  z-index: 1;
}

.stages__item-img {
  width: 84px;
  height: 84px;
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

.stages__item-img::before, .stages__item-img::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}

.stages__item-img::before {
  opacity: 1;
}

.stages__item-img::after {
  opacity: 0;
}

.stages__item:hover .stages__item-top::before {
  background-color: #FFEC3E;
}

.stages__item:hover .stages__item-top::after {
  background-color: #fff;
  opacity: .1;
}

.stages__item:hover .stages__item-img::before {
  opacity: 0;
}

.stages__item:hover .stages__item-img::after {
  opacity: 1;
}

.stages__item-ttl {
  font-family: 'Museo700';
}

.stages__item-wrp:nth-child(1) .stages__item-img::before {
  background-image: url("../img/stages__img_1_1.svg");
}

.stages__item-wrp:nth-child(1) .stages__item-img::after {
  background-image: url("../img/stages__img_1_2.svg");
}

.stages__item-wrp:nth-child(2) .stages__item-img::before {
  background-image: url("../img/stages__img_2_1.svg");
}

.stages__item-wrp:nth-child(2) .stages__item-img::after {
  background-image: url("../img/stages__img_2_2.svg");
}

.stages__item-wrp:nth-child(3) .stages__item-img::before {
  background-image: url("../img/stages__img_3_1.svg");
}

.stages__item-wrp:nth-child(3) .stages__item-img::after {
  background-image: url("../img/stages__img_3_2.svg");
}

.stages__item-wrp:nth-child(4) .stages__item-img::before {
  background-image: url("../img/stages__img_4_1.svg");
}

.stages__item-wrp:nth-child(4) .stages__item-img::after {
  background-image: url("../img/stages__img_4_2.svg");
}

.stages__item-wrp:nth-child(5) .stages__item-img::before {
  background-image: url("../img/stages__img_5_1.svg");
}

.stages__item-wrp:nth-child(5) .stages__item-img::after {
  background-image: url("../img/stages__img_5_2.svg");
}

.stages__item-wrp:nth-child(6) .stages__item-img::before {
  background-image: url("../img/stages__img_6_1.svg");
}

.stages__item-wrp:nth-child(6) .stages__item-img::after {
  background-image: url("../img/stages__img_6_2.svg");
}

.works__item {
  min-height: 300px;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  overflow: hidden;
}

.works__item-img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px -142px 32px -30px rgba(0, 0, 0, 0.89);
          box-shadow: inset 0px -142px 32px -30px rgba(0, 0, 0, 0.89);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.works__item-list {
  position: relative;
}

.works__item:hover .works__item-img {
  -webkit-box-shadow: inset 0px -192px 82px -30px #e13e3ebf;
          box-shadow: inset 0px -192px 82px -30px #e13e3ebf;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.works__item:hover .works__item-list {
  color: #fff;
}

.repair {
  background-color: #0C0C0C;
  color: #fff;
}

.repair__promo {
  font-size: 16px;
  font-family: 'Museo700';
}

.repair__slider-item {
  width: 100%;
  max-width: 410px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.link_black {
  color: #000;
}

.link_black:hover {
  color: #E13E3E;
}

.promo .section__ttl {
  font-size: 25px;
  text-align: left;
  margin-bottom: 15px;
}

.promo .section__ttl span {
  color: #E13E3E;
}

.reasons {
  color: #fff;
}

.reasons::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0C0C0C;
  opacity: .8;
}

.reasons .container {
  position: relative;
}

.reasons__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reasons__item-top {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 15px 0;
}

.reasons__item-top::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  left: 30px;
  top: 0;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: #E13E3E;
}

.reasons__item-top::after {
  content: '';
  position: absolute;
  width: 64%;
  height: 100%;
  left: 33px;
  top: 0;
  background-color: #000;
  opacity: .4;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.reasons__item-num {
  font-family: 'Museo900';
  font-size: 78px;
  line-height: 0.7;
  position: relative;
  z-index: 1;
}

.reasons__item-img {
  width: 84px;
  height: 84px;
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-right: 70px;
}

.reasons__item-img::before, .reasons__item-img::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}

.reasons__item-img::before {
  opacity: 1;
}

.reasons__item-img::after {
  opacity: 0;
}

.reasons__item:hover .reasons__item-top::before {
  background-color: #FFEC3E;
}

.reasons__item:hover .reasons__item-top::after {
  background-color: #fff;
  opacity: .1;
}

.reasons__item:hover .reasons__item-img::before {
  opacity: 0;
}

.reasons__item:hover .reasons__item-img::after {
  opacity: 1;
}

.reasons__item-wrp {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.reasons__item-wrp:nth-child(1) .reasons__item-img::before {
  background-image: url("../img/reasons__img_1_1.svg");
}

.reasons__item-wrp:nth-child(1) .reasons__item-img::after {
  background-image: url("../img/reasons__img_1_2.svg");
}

.reasons__item-wrp:nth-child(2) .reasons__item-img::before {
  background-image: url("../img/reasons__img_2_1.svg");
}

.reasons__item-wrp:nth-child(2) .reasons__item-img::after {
  background-image: url("../img/reasons__img_2_2.svg");
}

.reasons__item-wrp:nth-child(3) .reasons__item-img::before {
  background-image: url("../img/reasons__img_3_1.svg");
}

.reasons__item-wrp:nth-child(3) .reasons__item-img::after {
  background-image: url("../img/reasons__img_3_2.svg");
}

.reasons__item-wrp:nth-child(4) .reasons__item-img::before {
  background-image: url("../img/reasons__img_4_1.svg");
}

.reasons__item-wrp:nth-child(4) .reasons__item-img::after {
  background-image: url("../img/reasons__img_4_2.svg");
}

.reasons__item-wrp:nth-child(5) .reasons__item-img::before {
  background-image: url("../img/reasons__img_5_1.svg");
}

.reasons__item-wrp:nth-child(5) .reasons__item-img::after {
  background-image: url("../img/reasons__img_5_2.svg");
}

.reasons__item-wrp:nth-child(6) .reasons__item-img::before {
  background-image: url("../img/reasons__img_6_1.svg");
}

.reasons__item-wrp:nth-child(6) .reasons__item-img::after {
  background-image: url("../img/reasons__img_6_2.svg");
}

.reasons__item-wrp:nth-child(7) .reasons__item-img::before {
  background-image: url("../img/reasons__img_7_1.svg");
}

.reasons__item-wrp:nth-child(7) .reasons__item-img::after {
  background-image: url("../img/reasons__img_7_2.svg");
}

.tech__item {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  padding: 30px 10px;
}

.tech__item-ttl {
  font-size: 24px;
  font-family: 'Museo700';
}

.tech__item-borders {
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
}

.tech__item-borders span {
  display: block;
  background: #DD1515;
  position: absolute;
  margin: 0;
  padding: 0;
}

.tech__item.active span:nth-child(1) {
  width: 0%;
  height: 3px;
  top: 0;
  left: 0;
  -webkit-animation: lineWidth .45s ease-in-out both;
          animation: lineWidth .45s ease-in-out both;
}

.tech__item.active span:nth-child(2) {
  width: 3px;
  height: 0%;
  top: 0;
  right: 0;
  -webkit-animation: lineHeight .45s .25s ease-in-out both;
          animation: lineHeight .45s .25s ease-in-out both;
}

.tech__item.active span:nth-child(3) {
  width: 0%;
  height: 3px;
  bottom: 0;
  right: 0;
  -webkit-animation: lineWidth .45s .5s ease-in-out both;
          animation: lineWidth .45s .5s ease-in-out both;
}

.tech__item.active span:nth-child(4) {
  width: 3px;
  height: 0%;
  bottom: 0;
  left: 0;
  -webkit-animation: lineHeight .45s .75s ease-in-out both;
          animation: lineHeight .45s .75s ease-in-out both;
}

@-webkit-keyframes lineWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes lineWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes lineHeight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes lineHeight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.checkbox {
  min-width: 200px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding: 2px 0 0 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 21px;
  height: 21px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #0C0C0C;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  width: 13px;
  height: 13px;
  background-color: #DD1515;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.feed {
  overflow: hidden;
}

.feed::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .85;
}

.feed .container {
  position: relative;
}

.feed .container::before {
  content: '';
  position: absolute;
  width: 249px;
  height: 400px;
  background: url("../img/feed__img.svg") no-repeat 50% 50%/contain;
}

.feed .section__ttl {
  text-align: left;
  font-size: 26px;
}

.feed .section__promo {
  text-align: left;
  max-width: unset;
  margin-top: -40px;
  margin-bottom: 20px;
}

.feed-form {
  padding-left: 300px;
}

.feed-form input {
  width: 100%;
}

.map {
  color: #fff;
  position: relative;
}

.map a:not(.btn) {
  color: #fff;
}

.map a:not(.btn):hover {
  opacity: .7;
}

.map .section__ttl {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

.map__tel {
  font-size: 16px;
  font-family: 'Museo700';
}

.map__in {
  position: absolute;
  left: 50%;
  margin-left: -webkit-calc(-1100px/2);
  margin-left: calc(-1100px/2);
  top: 0;
  height: 100%;
  max-width: 300px;
  padding: 30px;
  background-color: #E13E3E;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #000;
  padding: 30px 0;
  color: #fff;
}

.footer__copy {
  text-align: center;
}

.banner_serv__item {
  color: #fff;
  padding: 230px 0 200px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.banner_serv__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .4;
}

.banner_serv__item .container {
  position: relative;
}

.banner_serv__form-input {
  background-color: #fff;
  width: 100%;
}

.banner_serv__form-input:focus, .banner_serv__form-input:active {
  background-color: #fff;
}

.crumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 30px;
}

.crumbs li {
  font-size: 13px;
  text-decoration: underline;
}

.crumbs li:not(:last-child) {
  margin-right: 25px;
  position: relative;
}

.crumbs li:not(:last-child)::after {
  content: '>';
  position: absolute;
  right: -17.5px;
  top: 0;
}

.crumbs li:last-child {
  color: #DD1515;
}

.crumbs li a {
  font-size: 13px;
  color: #000;
}

.crumbs li a:hover {
  opacity: .7;
}

.serv-begin img {
  max-height: 330px;
}

.serv-begin .section__ttl {
  text-align: left;
}

.serv-begin .list_square li::before {
  background-color: #DD1515;
}

.serv-begin .list_square a {
  font-family: 'MuseoC500';
  color: #000;
  text-decoration: underline;
}

.serv-begin .list_square a:hover {
  color: #DD1515;
}

.serv-reasons .section__ttl {
  color: #fff;
}

.serv-reasons::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0C0C0C;
  opacity: .8;
}

.serv-reasons .container {
  position: relative;
}

.serv-reasons__slider {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.serv-reasons__slider .owl-nav button.owl-prev {
  left: -50px;
}

.serv-reasons__slider .owl-nav button.owl-next {
  right: -50px;
}

.serv-reasons__slider .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.serv-reasons__item {
  width: 100%;
  height: 100%;
  font-family: 'MuseoC700';
  padding: 40px 15px 15px;
  background-color: #fff;
  position: relative;
}

.serv-reasons__item::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  background-color: #DD1515;
  left: 15px;
  top: 20px;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.serv-cases__item {
  width: 100%;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  font-family: 'MuseoC700';
  padding: 40px 15px 15px;
  background-color: #fff;
  position: relative;
}

.serv-cases__item::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  background-color: #DD1515;
  left: 15px;
  top: 20px;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.serv-most {
  background-color: #EFEFEF;
}

.serv-most .section__ttl {
  text-align: left;
  font-size: 26px;
}

.serv-price::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .7;
}

.serv-price .container {
  position: relative;
}

.serv-price__item {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.serv-price__item-head {
  background-color: transparent !important;
}

.serv-price__item-head > * {
  color: #000;
  background-color: transparent !important;
  border-color: transparent !important;
  font-family: 'Museo700';
  text-transform: uppercase;
}

.serv-price__item .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.serv-price__item .row > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 10px;
  min-height: 60px;
  border: 1px solid #fff;
}

.serv-price__item .row:nth-child(odd) {
  background-color: #000;
}

.serv-price__item .row:nth-child(even) {
  background-color: #101010;
}

.serv-price__item .row:hover {
  background-color: #FFEC3E;
}

.serv-price__item .row:hover > * {
  color: #000;
}

.serv-price__item .col-5 {
  text-align: right;
}

.serv-stages {
  color: #fff;
}

.serv-stages::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0C0C0C;
  opacity: .8;
}

.serv-stages .container {
  position: relative;
}

.serv-stages__item {
  max-width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 15px 0;
}

.serv-stages__item::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  left: 30px;
  top: 0;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: #E13E3E;
}

.serv-stages__item::after {
  content: '';
  position: absolute;
  width: 64%;
  height: 100%;
  left: 33px;
  top: 0;
  background-color: #000;
  opacity: .4;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.serv-stages__item-num {
  font-family: 'Museo900';
  font-size: 78px;
  line-height: 0.7;
  position: relative;
  z-index: 1;
  margin-right: 15px;
}

.serv-stages__item:hover::before {
  background-color: #FFEC3E;
}

.serv-stages__item:hover::after {
  background-color: #fff;
  opacity: .1;
}

.serv-stages__item-ttl {
  z-index: 1;
}

.serv-stages__item-ttl span {
  display: block;
  font-family: 'Museo700';
  color: #FFEC3E;
}

.serv-stages__item-wrp {
  margin-bottom: 30px;
}

.about-begin {
  background-color: #EFEFEF;
}

.about-begin .section__ttl {
  text-align: left;
  margin-bottom: 20px;
}

.about-begin__descr {
  font-family: 'Museo500';
  font-size: 18px;
}

.about-val__item {
  max-width: 370px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #E13E3E;
  color: #fff;
  padding: 20px 25px;
}

.about-val__item-ttl {
  font-size: 18px;
  font-family: 'MuseoC700';
  text-transform: uppercase;
  margin-bottom: 15px;
  min-height: 50px;
}

.about-val__item-img {
  width: 90px;
  height: 65px;
  background-position: 50% 50%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.about-val__descr {
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.about-gal__item {
  display: block;
  min-height: 300px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.about-gal__item-img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.about-gal__item:hover .about-gal__item-img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.equip {
  background-color: #000;
  color: #fff;
}

.equip__item {
  min-height: 300px;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  overflow: hidden;
}

.equip__item-img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.equip__item-info {
  color: #fff;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
  position: relative;
}

.equip__item-ttl {
  font-family: 'Museo700';
  text-transform: uppercase;
}

.equip__item:hover .equip__item-img {
  -webkit-box-shadow: inset 0px -192px 82px -30px #e13e3ebf;
          box-shadow: inset 0px -192px 82px -30px #e13e3ebf;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.equip__item:hover .equip__item-info {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.rev {
  background-color: #F5F5F5;
}

.rev__item {
  margin-bottom: 30px;
  padding-top: 40px;
  padding-left: 100px;
  position: relative;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.rev__item:hover .rev__img {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.55);
}

.rev__img {
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.rev__info {
  font-family: 'Museo500';
  padding: 32px;
  padding-left: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.rev__ttl {
  font-family: 'MuseoC900';
  font-size: 26px;
}

.rev__subttl {
  font-family: 'MuseoC500';
  margin-bottom: 20px;
}

.rev__descr {
  font-size: 15px;
}

.contacts-begin {
  background-color: #EFEFEF;
  padding-bottom: 300px;
}

.contacts-begin a {
  color: #000;
}

.contacts-begin a:hover {
  opacity: .5;
}

.contacts-begin .section__ttl {
  text-align: left;
  text-transform: none;
  margin-bottom: 20px;
}

.contacts-begin .section__promo {
  font-size: 22px;
  font-family: 'MuseoC500';
  text-align: left;
  margin-left: 0;
}

.contacts-route {
  position: relative;
  z-index: 1;
}

.contacts-route__map {
  -webkit-box-shadow: 0px 30px 50px rgba(65, 65, 65, 0.15);
          box-shadow: 0px 30px 50px rgba(65, 65, 65, 0.15);
  margin-top: -240px;
}

.contacts-route__item {
  display: block;
  width: 150px;
  height: 220px;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.contacts-route__item:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.contacts-route__info .section__ttl {
  text-align: left;
  margin-bottom: 25px;
}

.req {
  background-color: #F5F5F5;
}

.req__item {
  font-family: 'Museo500';
  font-size: 16px;
  padding: 52px 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: relative;
}

.req__item hr {
  opacity: .5;
}

.req__img {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -300px;
  max-width: 100%;
}
